.navbar {
  background-color: #ccc;
}

.container-fluid {
  justify-content: center;
}

.main-container {
  display: flex;
  overflow: hidden;

  .router-container {
    width: 100%;
    min-width: 0;
  }
}
